node_modules/
**/node_modules/
**/vendor/
**/.git/
**/dist/
**/test-output/
**/out-tsc/
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
.env
.env.*
!.env.docker.example
!.env.example
**/coverage/
**/.idea/
**/.vscode/
**/.DS_Store
